{% extends 'layouts/app.twig' %}

{% block body %}

{{ fn('the_post') }}  

{% include "partials/breadcrumbs.twig" %}

{% for item in additional_gallery %}
    {{ item.url }}
{% endfor %}

{% do action("woocommerce_before_single_product") %}

<section class="mt-2 pb-4 md:pb-6 md:mt-6">
    <div class="container">
        <div class="grid grid-cols-1 md:gap-16 lg:gap-24 md:grid-cols-2">
            <div>
                <h1 class="block font-bold text-24 leading-10 md:hidden">{{ product.name }}</h1>
                <div class="product-slideshow">
                    <div class="swiper-wrapper">
                        {% if product.get_image_id %}
                        <div class="swiper-slide">
                            <div class="relative h-[250px] md:h-[400px]">
                                <picture>
                                    <source srcset="{{ fn('wp_get_attachment_url', product.get_image_id) |towebp }}" type="image/webp">
                                    <source srcset="{{ fn('wp_get_attachment_url', product.get_image_id) |tojpg }}" type="image/jpeg">
                                    <img src="{{ fn('wp_get_attachment_url', product.get_image_id) |tojpg }}" alt="{{ slide.alt }}" loading="lazy" class="w-auto !h-full mx-auto">
                                </picture>
                            </div>
                        </div> 
                        {% endif %}                       
                        {% for image_id in product.get_gallery_image_ids %}
                        <div class="swiper-slide">
                            <div class="relative h-[250px] md:h-[400px]">
                                <picture>
                                    <source srcset="{{ fn('wp_get_attachment_url', image_id) |towebp }}" type="image/webp">
                                    <source srcset="{{ fn('wp_get_attachment_url', image_id) |tojpg }}" type="image/jpeg">
                                    <img src="{{ fn('wp_get_attachment_url', image_id) |tojpg }}" alt="{{ slide.alt }}" loading="lazy" class="w-auto !h-full mx-auto">
                                </picture>
                            </div>
                        </div>
                        {% endfor %}
                        {% for image in additional_gallery %}
                        <div class="swiper-slide">
                            <div class="relative h-[250px] md:h-[400px]">
                                <picture>
                                    <source srcset="{{ image.url |towebp }}" type="image/webp">
                                    <source srcset="{{ image.url |tojpg }}" type="image/jpeg">
                                    <img src="{{ image.url |tojpg }}" alt="{{ image.alt }}" loading="lazy" class="w-auto !h-full mx-auto">
                                </picture>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-thumbs-slideshow overflow-hidden my-8">
                    <div class="swiper-wrapper">
                        {% if product.get_image_id %}
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ fn('wp_get_attachment_url', product.get_image_id)|towebp }}" type="image/webp">
                                <source srcset="{{ fn('wp_get_attachment_url', product.get_image_id) |tojpg }}" type="image/jpeg">
                                <img src="{{ fn('wp_get_attachment_url', product.get_image_id) |tojpg }}" alt="{{ slide.alt }}" loading="lazy" class="w-auto mx-auto">
                            </picture>
                        </div>                        
                        {% endif %}
                        {% for image_id in product.get_gallery_image_ids %}
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ fn('wp_get_attachment_url', image_id) |towebp }}" type="image/webp">
                                <source srcset="{{ fn('wp_get_attachment_url', image_id) |tojpg }}" type="image/jpeg">
                                <img src="{{ fn('wp_get_attachment_url', image_id) |tojpg }}" alt="{{ slide.alt }}" loading="lazy" class="w-auto mx-auto">
                            </picture>
                        </div>
                        {% endfor %}
                        {% for image in additional_gallery %}
                        <div class="swiper-slide">
                            <picture>
                                <source srcset="{{ image.url |towebp }}" type="image/webp">
                                <source srcset="{{ image.url |tojpg }}" type="image/jpeg">
                                <img src="{{ image.url |tojpg }}" alt="{{ image.alt }}" loading="lazy" class="w-auto mx-auto">
                            </picture>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>  
            <div>
                <div>
                    <h1 class="hidden font-bold text-32 mb-7 leading-10 md:block">{{ product.name }}</h1>
                    <p class="mb-7">{{ product.short_description }}</p>
                    <div class="flex justify-between my-8 lg:px-7">
                        <div class="basis-1/2 shrink-0">
                            <div class="flex items-center">
                            {% if product.get_availability.class == 'in-stock' %}
                                {{ svg('check', { class: 'inline-block h-6 w-6 mr-3 fill-green' }) }}   
                                {% if product.get_stock_quantity > 5 %}
                                    <span class="text-20 text-green font-bold">Skladem > 5 ks</span>    
                                {% elseif product.get_stock_quantity <= 5 and product.get_stock_quantity is not null %}
                                    <span class="text-20 text-green font-bold">Skladem {{ product.get_stock_quantity  }} ks</span>
                                {% else %}
                                    <span class="text-20 text-green font-bold">Skladem</span>            
                                {% endif %}
                            {% else %}
                                {{ svg('check', { class: 'inline-block h-6 w-6 mr-3 fill-red' }) }}   
                                <span class="text-20 text-red font-bold">Není skladem</span>     
                            {% endif %}
                            </div>  

                            <div class="mt-2 text-12">
                                {{ availability }}
                            </div>
                        </div>
                        <div>
                            {% if product.sale_price and product.regular_price %}
                                <span class="block text-28 text-red font-bold leading-8 md:text-40">{{fn('wc_price', product.sale_price)}}</span>
                                <div class="text-right">
                                    <span class="text-18 font-bold text-red text-right">{{ '-' ~ ((1 - (product.sale_price / product.regular_price))*100)|round ~ '%'}}</span>
                                    <span class="text-18 text-gray font-bold line-through text-right">{{fn('wc_price', product.regular_price)}}</span>
                                </div>
                            {% elseif product.sale_price %}
                                <span class="block text-28 text-red font-bold leading-8 md:text-40">{{fn('wc_price', product.sale_price)}}</span>
                            {% else %}
                                <span class="block text-28 text-red font-bold leading-8 md:text-40">{{fn('wc_price', product.regular_price)}}</span>
                            {% endif %}

                        </div>
                    </div>
                    {% if additional_products %}
                        <div id="additional-products">
                            {% for item in additional_products %}
                                {% set product_additional = fn('wc_get_product', item.product[0].ID) %}
                                <div class="flex justify-between mb-2">
                                    <div class="inline-flex items-center">
                                        <label class="inline-flex items-center">
                                            <input type="checkbox" class="border-gray-300 focus:ring-primary checked:bg-primary checked:focus:bg-primary" value="{{ product_additional.id }}">
                                            <span class="ml-2">{{ product_additional.name }}</span>
                                        </label>
                                        <div class="relative group">
                                            {{ svg('question', { class: 'fill-gray h-3 w-3 mx-2' }) }}
                                             <div class="hidden absolute shadow-circle w-[250px] bg-white p-3 left-1/2 text-center bottom-full -translate-x-1/2 z-10 group-hover:block">
                                                {{ item.description }}
                                            </div>
                                        </div>

                                    </div>                
                                    <span class="text-green font-bold">{{fn('wc_price', product_additional.price)}}</span>
                                </div>                            
                            {% endfor %}
                        </div>                   
                    {% endif %}
                    {{fn('woocommerce_template_single_add_to_cart')}}
                    <div class="text-center my-7">
                        <p class="text-14 mb-3 text-gray">
                            Zboží prodáváno dle § 90
                            Plnění osvobozeno od DPH
                        </p>
                        {# <div class="flex justify-center">
                            <a href="" class="flex items-center">
                                {{ svg('scale', { class: 'fill-black h-5 w-5 mr-2' }) }}
                                <span>Získávat upozornění pro tento produkt</span>
                            </a>
                        </div> #}
                    </div>
                </div>
            </div>  
        </div>
    </div>    
</section>

{% include "templates/woo/single-product/partials/tabs.twig" %}



<script type="text/javascript" >
    var ajaxurl = '{{ fn( 'admin_url', 'admin-ajax.php' ) }}';

    jQuery(".btn-buy").click(function(event) {

        let addToCartBtnValue = jQuery(this).val();
        let checkedCheckboxes = [];

        jQuery("#additional-products input[type=checkbox]:checked").each(function(){
            checkedCheckboxes.push(jQuery(this).val());
        });

        jQuery.ajax({
            type: 'POST',
            url: ajaxurl,
            data: {
                'action'   : 'ajax_add_additional_products', 
                'additional_products_ids': checkedCheckboxes,
                'main_product_id': addToCartBtnValue
            },
            success: function( response ) {
                top.location.replace(response);
            },
        });
    });

    // jQuery('form.cart').one('submit', function(event) {
    //     event.preventDefault();

    //     let addToCartBtnValue = jQuery('.single_add_to_cart_button').val();
    //     let checkedCheckboxes = [];

    //     jQuery("#additional-products input[type=checkbox]:checked").each(function(){
    //         checkedCheckboxes.push(jQuery(this).val());
    //     });

    //     jQuery.ajax({
    //         type: 'POST',
    //         url: ajaxurl,
    //         data: {
    //             'action'   : 'ajax_add_additional_products', 
    //             'additional_products_ids': checkedCheckboxes,
    //             'main_product_id': addToCartBtnValue
    //         },
    //         success: function( response ) {
    //             console.log("pridano");
    //         },
    //     });

    //     jQuery(this).submit();
    // });
</script>


<script type="text/javascript">

jQuery(function($){

    const variations = {{ variations }};
    console.log(variations);

    // clones select options for each product attribute
    var clone = $(".single-product .variations select").clone(true,true);

    // adds a "data-parent-id" attribute to each select option
    $(".single-product .variations select option").each(function(){
        $(this).attr('data-parent-id',$(this).parent().attr('id'));
    });

    // converts select options to div
    $(".single-product .variations select option").unwrap().each(function(){
        if ( $(this).val() == '' ) {
            $(this).remove();
            return true;
        }
        var option = $('<div class="custom_option is-visible" data-parent-id="'+$(this).data('parent-id')+'" data-value="'+$(this).val()+'">'+$(this).text()+'</div>');
        $(this).replaceWith(option);
    });
    
    // reinsert the clone of the select options of the attributes in the page that were removed by "unwrap()"
    $(clone).insertBefore('.single-product .variations .reset_variations').hide();

    // when a user clicks on a div it adds the "selected" attribute to the respective select option
    $(document).on('click', '.custom_option', function(){
        var parentID = $(this).data('parent-id');
        if ( $(this).hasClass('on') ) {
            $(this).removeClass('on');
            $(".single-product .variations select#"+parentID).val('').trigger("change");
        } else {
            $('.custom_option[data-parent-id='+parentID+']').removeClass('on');
            $(this).addClass('on');
            $(".single-product .variations select#"+parentID).val($(this).data("value")).trigger("change");
        }
        
    });

    // if a select option is already selected, it adds the "on" attribute to the respective div
    $(".single-product .variations select").each(function(){
        if ( $(this).find("option:selected").val() ) {
            var id = $(this).attr('id');
            $('.custom_option[data-parent-id='+id+']').removeClass('on');
            var value = $(this).find("option:selected").val();
            $('.custom_option[data-parent-id='+id+'][data-value='+value+']').addClass('on');
        }
    });

    // when the select options change based on the ones selected, it shows or hides the respective divs
    $('body').on('check_variations', function(){
        $('div.custom_option').removeClass('is-visible');
        $('.single-product .variations select').each(function(){
            var attrID = $(this).attr("id");
            $(this).find('option').each(function(){
                if ( $(this).val() == '' ) {
                    return;
                }
                $('div[data-parent-id="'+attrID+'"][data-value="'+$(this).val()+'"]').addClass('is-visible');
            });
        });
    });

    $(".variations").show();

});

</script>

{% endblock %}