{% extends 'layouts/app.twig' %}
{% set productToShow = 12 %}

{% block body %}
 
{{ fn('woocommerce_output_all_notices') }}

<section class="pt-3 border-b border-grayDivider md:pt-5">
    <div class="container">
        {{ breadcrumbs() }}
        <h1 class="main-heading my-3">Vyhledávání: {{ searchTerm }}</h1>
        <div class="flex items-center rounded-md bg-primary text-white p-2 text-14 font-bold">
            {{ svg('info', { class: 'inline-block h-4 w-4 mr-3 fill-white shrink-0' }) }}
            <p class="hidden md:block">{{ options.info_box }}</p>
            <p class="md:hidden">Všechny telefony jsou řádně testovány a plně funkční.</p>
        </div>
        <div class="text-right mt-5">
            <button type="button" id="filter-cheap" class="js-sort active border border-b-0 border-grayDivider mx-1 bg-gray2 p-2">Nejlevnější</button>
            <button type="button" id="filter-expensive" class="js-sort border border-b-0 border-grayDivider mx-1 bg-gray2 p-2">Nejdražší</button>
            {# <button type="button" id="filter-best" class="js-sort border border-b-0 border-grayDivider mx-1 bg-gray2 p-2">Nejprodávanější</button> #}
        </div>
    </div>
</section>


<section class="archive-product">
    <div class="container">
        <div class="block md:flex">
            <div class="pt-2 w-full md:pt-8">
                <div id="product-wrapper">
                {% for product in products %}
                    {{ fn("timber_set_product", product) }}
                    {% if loop.index0 < productToShow %}
                        {% include 'components/productCard.twig' with {
                            ID: product.ID,
                            items: 3
                        } %}  
                    {% else %}
                        {% include 'components/productCard.twig' with {
                            ID: product.ID,
                            items: 3,
                            hidden: true,
                        } %}            
                    {% endif %}
                {% endfor %}
                </div>
                <div class="grid grid-cols-1 my-6 md:grid-cols-3 md:my-10">
                    <a href="#" class="fixed bottom-3 right-6 h-14 border-4 border-gray flex items-center justify-center rounded-full w-14 shrink-0 md:static">
                        {{ svg('up-arrow', { class: 'h-3 w-3 fill-gray' }) }}  
                    </a>
                    <button class="rounded-full px-12 py-3 font-bold border-4 border-gray mx-auto" id="load-more">Načíst další</button>
                </div>

            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    const productToShow = 12;

    const hidden_items = jQuery("#product-wrapper > .hidden");
    if (hidden_items.length == 0) {
        jQuery("#load-more").hide();
    }

    jQuery("#load-more").click(function() {
        const items = jQuery("#product-wrapper > .hidden");
        
        if (items.length > 0) {
            items.each(function(index) {
                if (index < productToShow) {
                    jQuery(this).removeClass('hidden');
                }
            })

            if (items.length <= productToShow) {
                jQuery(this).hide();
            }
        }
    });
</script>

<script type="text/javascript" >
    var ajaxurl = '{{ fn( 'admin_url', 'admin-ajax.php' ) }}';

   jQuery(".js-sort").click(function() {

    let products = [];
    const type = jQuery(this).prop('id');

    jQuery('#product-wrapper > div').each(function() {
        products.push(jQuery(this).attr('data-product-id'));
    })

    jQuery(".js-sort").each(function() {
        jQuery(this).removeClass('active');
    })

    jQuery(this).addClass('active');

    jQuery.ajax({
        type: 'POST',
        url: ajaxurl,
        data: {
            'action'   : 'ajax_sort_products', 
            'products' : products,
            'type' : type,
        },
        beforeSend: function() {
            jQuery('#product-wrapper').addClass('is-loading');
        },
        success: function( response ) {
            jQuery('#product-wrapper').removeClass('is-loading');

            jQuery("#product-wrapper").html(response);
        },
    });
   });
</script>

{% endblock %}
